@import '/src/styles/var';
@import '/src/styles/header';
@import '/src/styles/stars';
@import '/src/styles/card';
@import '/src/styles/catalog';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}
